body{
    background-image: url(../image/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Microsoft JhengHei","Arial";
}
/* header */
header{
     padding-top: 35px;
     background-image: url(../image/header/headercar.png);
     background-repeat: no-repeat;
     background-position: top center;
     background-size: 60%;
}
.header_logo{
    padding-left:50px;
}
#logo{
    width: 215px;
}

/* hamburger */
.header-right .navbar-toggle{
    border-color: #ffffff;
    margin: 0;
}
.header-right .icon-bar{
    background-color: #ffffff;
}

#header-hamburger{
    display: none;
    height: 100%;
    width: 100%; 
    background-color: #bbbbbb;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 1s;
    overflow: auto;
}
#header-hamburger .row{
    margin: 0;
}
#header-hamburger .col-xs-12{
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
}
#header-hamburger .col-xs-12:active{
    background-color: #afafaf;
}
#close-btn{
    position: fixed;
    top: 0;
    right: 15px;
    margin: 10px 15px 0 0;
    z-index: 2;
    font-size: 20px;
}
#close-btn:hover{
    cursor: pointer;
}
.menu-icon{
    margin: 0 auto;
}
.hamburger-a{
    display: block;
    padding: 20px;
}

#title{
    width: 240px;
    margin-right: 25px;
}
#navbar{
    /* height: 60px;  */
    margin-top: 30px;
    background-color: rgba(255,255,255,0.5);
     padding: 10px; 
}
#progress-icon{
    width: 90px;
    margin-top:-20px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}
/* #progress-icon:hover{
    transform:translate(1px,1px);
} */

.backhome{
    width: 100%;
    border-radius: 0;
    height: 40px;
    line-height: 26px;
    font-size: 14px;
    background: linear-gradient(to top,rgb(230,230,230) 10%,rgb(255,255,255) 80%,rgb(230,230,230));
}
.backhome-col{
    padding-left: 0;
}
.announce-row{
    padding-right: 0;
    padding-left: 0;
}

/* tip */
.tip{
    font-size: 10px;
}
.tip span{
    margin-right: 2.5px;
}
.tip label{
    margin-bottom: 0;
    color: #da2f1c;
}
.tip p{
    display: inline-block;
    margin-bottom: 0;
}

/* footer */
footer{
    background-color: #1f2025;
    padding-top: 35px;
}
#sponsor-lg{
    padding: 0 135px;
}
#sponsor-sm{
    padding: 0 20px;
}
#sponsor-sm img{
    margin: 0 auto;
}
#sponsor-sm .col-xs-12{
    margin-top: 20px;
}
footer hr{
    border-top:1px solid #5a5555;
    width: 90%;
}
.footer-url{
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
.footer-url a{
    font-size: 12px;
    color: #ffffff;
    font-weight: lighter;
}
.footer-url a:hover{
    text-decoration: none;
}
#copyright{
    margin: 30px 0 15px 0;
    text-align: center;
    color: #504c4c;
    font-size: 10px;
}


@media screen and (max-width:992px){
    .footer-url{
        width: 80%;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    #sponsor-lg{
        padding: 0 80px;
    }
}

@media screen and (max-width:768px){
    header{
        padding-top: 15px;
    }
    #navbar{
        margin-top: 15px;
    }
    .content{
        padding: 10px;
    }
    .backhome{
        font-size: 12px;
    } 
    .backhome-col{
        padding-right: 10px;
    }
}
@media screen and (max-width:640px){
    .header_logo{
        padding: 0 15px;
    }
}
@media screen and (max-width:480px){
    #progress-icon{
         width: 80px;
         margin-top: -20px;
         margin-left: -40px;
    }
    .icon-left{
        padding-right: 0;
    }
    .icon-right{
        padding-left: 0;
    }
    footer{
        padding: 10px 0 0 0;
    }
    footer hr{
        width: 100%;
    }
    .footer-url{
        width: 100%;
    }
    .header_logo .col-xs-4{
        padding: 0;
    }
}
@media screen and (max-width:320px){
    #progress-icon{
         width: 70px;
         margin-top: -20px;
         margin-left: -35px;
    }
    .backhome{
        padding-left: 0;
        padding-right: 0;
    }
    .footer-url .col-xs-3{
        padding: 0;
    }
}