/* header */
@media screen and (min-width:768px){
    header{
        display: none;
    }
}

.black-bar{
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
}
.black-bar a{
    color: #ffffff;
}
#welcome-header-left{
    display: inline-block;
    margin: 3px 0;
}
.welcome-header-right{
    display: inline-block;
    float: right;
    margin: 3px 0;
}
.welcome-header-right li{
    float: left;
    margin: 0 20px;
    list-style: none;
}
.header2_logo{
    margin-top:10px; 
    padding: 25px 0 20px 0;
    background-image: url(../image/navigation/header2_background.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.header2_logo a{
    display: block;
    width: 20%;
}

/* navigation-content */
#navigation-content{
    background-color: #ffffff;
    padding: 20px 20px 30px 20px;
}
.navigation-table-lg{
    background-image: url("../image/navigation/navigation-block.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.navigation-table-lg td{
    height: 180px;
}
.navigation-table-lg.table td{
    padding: 0;
    border-color:rgba(0, 0, 0, 0); 
    border-style: solid;

}
.navigation-table-lg td a{
    display: block;
    width: 100%;
    height: 100%;
}
.navigation-table-lg td a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.navigation-table-xs{
    background-image: url("../image/navigation/navigation-block-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
     background-position: top center;  
}
.navigation-table-xs.table td{
    padding: 0;
    border: none; 
     /* border:10px solid rgba(0, 0, 0, 0);   */
}
.navigation-table-xs td a{
    display: block;
    width: 100%;
    height: 100%;
}
.navigation-table-xs td a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width:1199px){
    .navigation-table-lg td{
        height: 145px;
    }
    .navigation-table-lg{
        background-size: cover;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .welcome-header-right li{
        margin: 0 10px;
    }
    .navigation-table-lg{
        background-size: contain;
    }
    .navigation-table-lg td{
        height: 110px;
    }
}
@media screen and (max-width:767px){
    .header2{
        display: none;
    }
    #navigation-content{
        padding: 20px;
        margin: 20px auto;
    }
}

.content-title{
    white-space: nowrap;
    overflow: hidden;
}
.content-title h2{
    display: inline-block;
}
.first-letter{
    display: inline-block;
    font-weight: 700;
    letter-spacing: -2pt;
}
.english-subtitle{
    color: #c9373a;
    display: inline-block;
    margin-left: 5px;
    font-weight: 700;
}
.content-title hr{
    border-color: #d34e4e;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    width: 80%;
    margin-left: 45px;
    vertical-align: -50%;
}
.top-games-table{
    border: none;
    padding-bottom:10px;
}
.top-games-table .table{
    margin-bottom: 0;
}
.top-games-table .table td{
    padding: 0;
    border: none;
}
.top-game-block{
    margin: 0 5px;
}
.first-game{
    margin-left: 0;
}
.last-game{
    margin-right: 0;
}
.top-game-block:link{
    text-decoration: none;
}
.top-game-title p{
    display: inline;
    font-size: 16px;
    margin-right: 10px;
}
#top-games span{
    margin-right: -6px;
    vertical-align: baseline;
}
#top-games span img{
    vertical-align: inherit;
}
.top-games-table .caption{
    padding: 10px 5px;
}
@media screen and (max-width:1024px){
    .top-game-title p{
        font-size: 13px;
        margin-right: 0;
        letter-spacing: -1px;
    }
}
@media screen and (max-width:992px){
    #top-games .table-responsive{
        overflow-x: auto;
    }
    .top-games-table .table td{
        white-space: nowrap;
    }
}
@media screen and (max-width:768px){
    .content-title hr{
        margin-left: 20px;
    }
}
@media screen and (max-width:640px){
    .content-title hr{
        margin-left: 25px;
    }
}
@media screen and (min-width:480px) and (max-width:640px){
    .content-title hr{
        margin-left: 25px;
    }
    .content-title h2{
        font-size: 24px;
    }
    .first-letter{
        font-size: 24px;
    }
    .english-subtitle{
        font-size: 18px;
    }
}
@media screen and (min-width:321px) and (max-width:479px){
    .content-title hr{
        margin-left: 20px;
    }
    .content-title h2{
        font-size: 20px;
    }
    .first-letter{
        font-size: 20px;
    }
    .english-subtitle{
        font-size: 16px;
    }
}
@media screen and (max-width:320px){
    .content-title hr{
        margin-left: 15px;
    }
    .content-title h2{
        font-size: 18px;
    }
    .first-letter{
        font-size: 18px;
    }
    .english-subtitle{
        font-size: 14px;
    }
}


/* test */
.top-games-blocks{
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
}
.top-game-block{
    display: inline-block;  
}

/* score-bar */
.score-bar{
    height: 46px; 
    background-image: linear-gradient(to bottom, #b90101, #8d0d0a);
    margin: 25px -35px 0 -35px;
    padding: 5px 0;
}
.jackpot{
    text-align: center;
}
.jackpot img{
    margin-top: -23px;
}
.score-block-title{
    padding: 0;
    text-align: center;
}
.score-bar-block img{
     margin-top: -16px; 
}
.score-bar-block p{
    font-size: 10px;
    color: #ffffff;
    line-height: 10px;
}
.number-output{
    text-align: right;
    background-image: linear-gradient(to bottom, #010000, #242424 51%, #030303);
    border: solid 0.3px #434343;
    color: #f9ee42;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    height: 36px;
    padding-right: 10px;
}
.lottery-block img{
    margin-top: -20px;
}
.block-border{
    border-style: solid;
    border-width: 1px;
    border-right: none; 
    border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(200, 200, 200, 0.64) 51%, rgba(255, 255, 255, 0));
    border-image-slice: 1; 
    height: 36px;
}
@media screen and (max-width: 991px){
    .score-bar{
        height: auto;
        padding: 10px 0;
    }
    .jackpot{
        text-align: right;
    }
    .jackpot img{
        margin-top: 0;
    }
    .score-bar-block img{
        margin-top: 0; 
    }
    .score-bar-block .col-xs-8{
        padding-top: 10px;
    }
    .block-border{
        border: none;
    } 
    .score-bar2{
        margin-top: 10px;
    }   
}
@media screen and (max-width:768px){
    .score-bar{
        margin: 20px -20px 0 -20px;
    }
}
@media screen and (max-width:640px){
    .score-bar{
        margin-top: 10px;
    }
}
@media screen and (max-width:540px){
    .score-bar-block .col-xs-8{
        width: 80%;
    }
    .small-hidden{
        width: 0;
        height: 0;
    }
}
@media screen and (min-width:401px) and (max-width:480px){
    .number-output{
        font-size: 24px;
    }
}
@media screen and (max-width:480px){
    .score-bar .col-xs-2{
        width: 30%;
    }
    .score-bar .col-xs-8{
        width: 70%;
    }
}
@media screen and (max-width:400px){
    .number-output{
        font-size: 14px;
        padding-right: 5px;
    }
    .score-bar-block .col-xs-8{
        width: 65%;
    }
    .score-block-title{
        width: 30%;
    }
    .jackpot img{
        width: 70px;
    }
}
@media screen and (max-width:320px){
    .score-bar-block .col-xs-8{
        padding-right: 0;
    }
    .jackpot{
        padding: 0 5px;
    }
}
@media screen and (max-width:319px){
    .jackpot img{
        width: 60px;
    }
}

/* hot-url,hot-bank */
#hot-url{
    clear: both;
}
.url-table{
    margin: 0 20px;
}
.url-table p{
    display: inline-block;
    color: #4a4a4a;
    line-height: 25px;
}
.url-table .table{
    margin-bottom: 0;
}
.url-table .table td{
    border: none;
}
.url-table span{
    vertical-align: baseline;
    line-height: 25px;
}
.url-table span img{
    height: 25px;
}
@media screen and (max-width:1199px){
    .url-table{
        margin: 0;
    }
    .url-table .table td{
        padding: 8px 0;
    }
}
@media screen and (max-width:991px){
    .url-table{
        margin: 0;
        text-align: center;
    }
    .url-table p{
        font-size: 10px;
    }
}


.friendly-btn-group{
    padding: 20px 20px 10px 20px;
    text-align: center;
}
.friendly-btn{
    display: inline-block;
    width: 19%;
    font-size: 15px;
    margin:  0 5px 10px 0;
    background-color: #e6e2df;
    border: 1px solid #dddddd;
}
.friendly-btn a{
    display: block;
    padding: 20px 0;
    color: #656566;
}
@media screen and (min-width:641px) and (max-width:991px){
    .friendly-btn{
        width: 18%;
    }
}
@media screen and (max-width:640px){
    .friendly-btn{
        width: 31%;
    }
}
@media screen and (max-width:480px){
    .friendly-btn-group{
        padding: 20px 10px 10px 10px;
    }
}
@media screen and (max-width:410px){
    .friendly-btn{
        width: 30%;
    }
}
@media screen and (max-width:345px){
    .friendly-btn{
        font-size: 14px;
        margin: 0 0 10px 0;
        width: 31%;
    }
}
@media screen and (max-width:320px){
    .friendly-btn-group{
        padding: 20px 0 10px 0;
    }
}
@media screen and (max-width:306px){
    .friendly-btn{
        width: 32%;
        font-size: 10px;
    }
}