/* announcement */
#announcement-row{
    padding-top: 15px;
}
#progress-announcement{
    background-color: #ffffff;
    border: 1px solid #979797;
    padding: 5px 40px;
    white-space : nowrap;
    overflow: hidden;
    height: 40px;
}
#progress-announcement label{
    line-height: 26pt;
    margin:0 30px 0 0;
    color: #fd9400;
}
#progress-announcement span{
    margin-right: 10px;
}
#progress-announcement p{
    display: inline-block;
    margin-bottom: 0;
    line-height: 14px;
    font-size: 11px;
    color: #919191;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* progress-content */
#progress-content{
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: url(../image/submit/submitbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.check-title{
    background-image: linear-gradient(to top, #bd1d1b, rgb(216, 78, 77), #bd1d1b);
    color: #ffffff;
    text-align: center;
}
.check-title h3{
    line-height: 70px;
    margin: 0;
    font-weight: 700;
    letter-spacing: 4.3px;
}
.progress-form{
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    color:#9f9f9f;
    font-size: 18px;
}
.progress-form label{
    padding-right: 0;
    font-weight: 400;
    text-align: right;
}
.progress-form p{
    padding-top: 7px;
    margin: 0;
    line-height: normal;
}
#submit-btn{
    margin: 20px auto;
}
.progress-form .form-control{
    border-radius: 0;
    background: linear-gradient(to top,rgb(245,245,245) 10%,rgb(255,255,255) 80%,rgb(245,245,245));
    border-color: #e8e8e8;
}
.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow:  none; 
    box-shadow: none; 
}
/* result */
#result-content{
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: url(../image/submit/submitbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.result-title{
    background-image: linear-gradient(to top, #ff7b29, #ffa43a, #ff7b29);
    color: #ffffff;
    text-align: center;
}
.result-title h3{
    line-height: 70px;
    margin: 0;
    font-weight: 700;
    letter-spacing: 4.3px;
}
.result-table .table td{
    border-color: #dadada;
    text-align: center;
    padding: 15px;
    width: 33.3%;
}
.result-table thead{
    background-color: #e0e0e0;
    font-weight: 700;
    font-size: 14px;
}
.result-table tbody{
    background-color: #ffffff;
}
.result-table{
    padding: 45px 0 60px 0;
    color: #838383;
}
.result-table table{
    margin: 0 auto;
    width: 70%;
}
.result-opened{
    color: #59a04f;
}
.result-closed{
    color: #cd4a48;
}

@media screen and (min-width:1024px) and (max-width:1279px){
    #progress-announcement p{
        width: 600px;
    }
}
@media screen and (min-width:992px) and (max-width:1023px){
    #progress-announcement p{
        width: 550px;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    #progress-announcement p{
        width: 420px;
    }
}
@media screen and (min-width:640px) and (max-width:767px){
    #progress-announcement p{
        width: 330px;
    }
}
@media screen and (min-width:480px) and (max-width:639px){
    #progress-announcement p{
        width: 200px;
    }
}
@media screen and (min-width:321px) and (max-width:479px){
    #progress-announcement p{
        width: 130px;
    }
}
@media screen and (max-width:768px){
    #progress-announcement{
        padding-left: 20px;
    }
    .progress-form{
        width: 60%;
        font-size: 16px;
    }
}
@media screen and (max-width:640px){
    #progress-announcement label{
        margin-right: 10px;
        line-height: 28px;
    }
    #progress-announcement{
        font-size: 12px;
    }
    #progress-announcement p{
        font-size: 12px;
        margin-top: 2px;
        line-height: 12px;
    }
    .progress-form{
        width: 80%;
    }
}
@media screen and (max-width:480px){
    .progress-form label{
        padding-left: 0;
    }
    .progress-form{
        font-size: 14px;
    }
    .result-table .table{
        width: 80%;
    }
    .result-table .table td{
        padding: 10px;;
    }
}
@media screen and (max-width:320px){
    #progress-announcement p{
        width: 100px;
    }
    #progress-announcement{
        padding: 5px 0 0 10px;
    }
    .progress-form{
        width: 90%;
    }
    #progress-content .control-label{
        width: 45%;
    }
    #progress-content .check-control{
        width: 55%;
        padding-left: 0;
    }
    .result-table .table{
        width: 90%;
    }
    .result-table .table td{
        padding: 5px;
        font-size: 10px;
    }
}