body{
    background-image: url(../image/roulette/roulettebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Microsoft JhengHei","Arial";
}
header{
    background-image: url(../image/roulette/header-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#roulette-logo{
    padding-top: 45px;
}
#win-btn{
    margin-top: -40px;
}
@media screen and (max-width:1024px){
    #roulette-title{
        padding: 0 30px;
    }
    #win-btn{
        margin-top: -35px;
    }
}
@media screen and (min-width:769px) and (max-width:991px){
    #roulette-title{
        padding: 0;
    }
    #win-btn{
        margin-top: -30px;
    }
}
@media screen and (max-width:768px){
    #roulette-logo{
        padding-top: 20px;
        padding-right: 0;
    }
}
@media screen and (max-width:640px){
    #win-btn{
        margin-top: -20px;
    }
}
@media screen and (max-width:480px){
    #win-btn{
        margin-top: -15px;
    }
}
@media screen and (max-width:415px){
    #win-btn{
        margin-top: -12px;
    }
}
@media screen and (max-width:375px){
    #win-btn{
        margin-top: -10px;
    }
}
@media screen and (max-width:320px){
    #roulette-logo{
        padding-top: 10px;
    }
    #win-btn{
        margin-top: -8px;
    }
}

#roulette-btn{
    margin: 20px 0;
    text-align: center;
    clear: both;
}
#roulette-btn .col-xs-4{
    padding: 0 5px;
}
#roulette-btn a{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    display: block;
    background-color: #cc2a2f;
    padding: 10px;
}
#roulette-btn a:hover{
    text-decoration: none;
    background-color: #e38917;
}
#roulette-btn a:active{
    background-color: #e38917;
}
#roulette-btn a:focus{
    background-color: #e38917;
    text-decoration: none;
}
#roulette-btn .active{
    background-color: #e38917;
}
@media screen and (max-width:768px){
    #roulette-btn a{
        font-size: 20px;
    }
}
@media screen and (max-width:640px){
    #roulette-btn a{
        font-size: 18px;
    }
}
@media screen and (max-width:480px){
    #roulette-btn a{
        font-size: 16px;
    }
}
@media screen and (min-width:381px) and (max-width:425px){
    #roulette-btn a{
        font-size: 14px;
        padding: 5px;
    }
}
@media screen and (max-width:380px){
    #roulette-btn a{
        font-size: 10px;
        padding: 5px;
    }
    #roulette-btn .col-xs-4{
        padding: 0 2px;
    }
}
@media screen and (max-width:320px){
    #roulette-btn a{
        padding: 5px 0;
    }
}

#roulette-content{
    padding: 0 40px;
} 
#roulette-prize{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(45deg);
}
#roulette-start{
    position: absolute;
    top: 50%;
    left: 50%;
}
#roulette-start:hover{
    transform: scale(1.05);
    cursor: pointer;
}
@media screen and (max-width:640px){
    #roulette-content{
        padding: 0 20px;
    }
}
@media screen and (max-width:480px){
    #roulette{
        padding: 0;
    }
}
@media screen and (max-width:320px){
    #roulette-content{
        padding: 0;
    }
}

#winner-note{
    background-color: #ffffff;
    box-shadow: 0 0 4px 1px rgba(214, 0, 0, 0.5);
    padding: 15px 0;
    margin-top: 20px;
}
#winner-title{
    text-align: center;
    color: #cc2a2f;
    padding-bottom: 10px;
    font-weight: 900;
    border-bottom: 1px solid #cc2a2f;
}
#winner-list{
    padding: 15px 35px 25px 15px;
}
#winner-list li{
    list-style-type: circle;
    color: #dd2d2c;
    font-weight: 900;
    border-bottom: 1px dashed #c9c9c9;
    padding: 0 10px;
    margin-top: 20px;
}
#winner-list p{
    color: #000000;
    display: inline-block;
    margin-bottom: 5px;
}
.prize{
    float: right;
}
#activity-rule{
    padding: 35px 60px;
    margin-top: 30px;
    background-color: #ffffff;
}
.rule-title{
    background-color: #cc2a2d;
    color: #ffffff;
    display: inline-block;
    padding: 10px 30px;
}
#activity-rule ul{
    margin-top: 10px;
    margin-bottom: 35px;
    padding-left: 20px;
}
#activity-rule li{
    color: #cc2a2d;
}
#activity-rule p{
    color: #8a8a8a;
    font-size: 14px;
    letter-spacing: -0.5px;
}
@media screen and (max-width:480px){
    #activity-rule{
        padding: 25px 20px 25px 10px;
        text-align: justify;
    }
}

footer{
    padding: 30px 0 20px 0;
}
footer p{
    margin-bottom: 0;
    text-align: center;
    color: #727272;
    font-size: 10px;
}