/* header */
@media screen and (min-width:768px){
    header{
        display: none;
    }
}
.header2_logo{
    margin-top:10px; 
    padding: 25px 0 20px 0;
    background-image: url(../image/speed-measure/header2_background.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.header2_logo a{
    display: block;
    width: 20%;
}
@media screen and (max-width:767px){
    .header2{
        display: none;
    }
}

#speed-tip{
    margin-top: 15px;
}
#speed-tip .tip{
    text-align: center;
    background-color: #ffe7e7;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#speed-tip .tip p{
    white-space: nowrap;
}
@media screen and (max-width:640px){
    #speed-tip .tip{
        text-align: left;
    }
}

/* speed-content */
#speed-content{
    padding: 25px;
    margin-bottom: 15px;
    background-color: #ffffff;
}
#speed-title{
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
}
#speed-title h2{
    display: inline-block;
}
.first-letter{
    display: inline-block;
    font-weight: 700;
    letter-spacing: -2pt;
}
#speed-title hr{
    border-color: #d34e4e;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    width: 80%;
    margin-left: 25px;
    vertical-align: -50%;
}
.one-link{
    margin: 10px 0;
}
.link-speed{
    display: inline-block;
    padding: 10px;
    width: 15%;
    background-image: linear-gradient(to bottom, #f2f2f2, #ffffff 71%, #f1f1f1);
    border: solid 0.8px #e5e5e5;
}
.link-arrow{
    margin: 0 5px;
    width: 5%;
    overflow: hidden;
}
.link-arrow img{
    height: 20px;
}
.link-text{
    display: inline-block; 
    padding: 10px;
    width: 60%; 
    background-image: linear-gradient(to bottom, #f2f2f2, #ffffff 71%, #f1f1f1);
    border: solid 0.8px #e5e5e5;
    margin-right: 5px;
}
.visit-btn{
    display: inline-block;
    width: 15%;
    padding: 10px;
    font-weight: 700;
    background-image: linear-gradient(to bottom, #ffffff, #e7e7e7);
    box-shadow: 0.5px 0.5px 0.1px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #bbbbbb;
}
.link-time{
    display: none;
}
.refresh-btn{
    margin: 25px auto;
    margin-bottom: 0;
}
@media screen and (max-width:1199px){
    .link-speed{
        padding: 10px 5px;
    }
}
@media screen and (max-width:667px){
    .one-link{
        font-size: 12px;
    }
    .visit-btn{
        font-size: 12px;
    }
}
@media screen and (max-width:540px){
    .one-link{
        font-size: 10px;
    }
    .link-speed{
        width: 18%;
    }
    .link-text{
        width: 55%;
    }
    .visit-btn{
        font-size: 10px;
    }
}
@media screen and (max-width:520px){
    .visit-btn{
        display: none;
    }
    .link-speed{
        width: 20%;
    }
    .link-text{
        width: 68%;
    }
    #speed-title hr{
        margin-left: 10px;
    }
}
@media screen and (max-width:440px){
    .link-arrow{
        display: none;
    }
     .link-speed{
        width: 25%;
    } 
    .link-text{
        width: 72%;
    }
}
@media screen and (max-width:410px){
    .link-time{
        display: inline-block;
        width: 20%;
    }
    .link-speed{
        display: none;
    }
    .link-text{
        width: 75%;
    }
}
@media screen and (max-width:400px){
    .link-time{
        display: none;
    }
    .link-speed{
        display: inline-block;
        width: 100%;
        background-image: inherit;
        border: none;
        padding-top: 0;
        padding-bottom: 5px;
    }
    .link-text{
        width: 100%;
        padding-left: 5px; 
    }
    #speed-content{
        padding: 25px 10px;
    }
}

#usage-description .url-btn{
    display: inline-block;
    margin-top: 10px;
    max-width: 49%;
}
#usage-tip .tip{
    text-align: justify;
    margin: 20px 0;
    font-size: 14px;
    font-weight: 700;
}
.url-btn-right{
    float: right;
}
@media screen and (max-width:768px){
    #usage-description{
        padding-top: 20px;
    }
}