body{
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* announcement */
#announcement{
    background-color: #ffffff;
    margin-top: 15px;
    padding: 5px 40px;
}
#announcement label{
    line-height: 20pt;
    margin:0 30px 0 0;
    color: #fd9400;
}
#announcement span{
    margin-right: 10px;
}
#announcement p{
    display: inline-block;
    margin-bottom: 0;
    font-size: 11px;
    color: #919191;
}

/* activity */
#activity-content{
    background-color: #ffffff;
    padding: 20px 30px; 
    margin-top: 10px;
    margin-bottom: 15px;
}
.act{
    padding: 10px;
}
.act a{
    color: #000000;
    text-decoration: none;
}
.game{
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    overflow: hidden;
    font-weight: lighter;
    color: #505050;
    background-color: #ffffff;
}
.game-img{
    position: relative;
}
.end-cover{
    width: 100%;
    line-height: 30px;
    background-color: rgba(243, 29, 8, 0.9);
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
.act-hover{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9px;
}
.hover-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 40px;
    margin: -20px 0 0 -60px;
    background-color: transparent;
    color: #ffffff;
    font-weight: lighter;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.hover-btn:hover,.hover-btn:active,.hover-btn:focus{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.activity-title{
    margin: 10px;
    text-align: center;
    font-size: 14px;
}
.game:hover{
    background-color: #db3421; 
    /* padding: 5px 5px 0 5px; */
    border-color:#db3421;
}
.game:hover img{
    border-radius: 10px;
}
.game:hover .activity-title{
    color: #ffffff;
}
.game:hover .act-hover{
    display: block;
    border: 3px solid #db3421;
}

.tip{
    text-align: center;
    padding: 20px;
}

/* content2 */
#activity-content2{
    padding: 10px;
}
.btn-col{
    padding: 0 4px;
}
.btn-col a:hover .quick-btn{
    background-color: #f5f2ef;
}
.btn-top{
    padding-bottom: 10px;
}
.quick-btn{
    background-color: #e5e2de;
    border: 1px solid #bbbbbb;
    height: 60px;
    padding: 10px;
}
.quick-btn img{
    margin: 0 auto;
}
#prize-annoucement{
    border: 1px solid #bbbbbb;
    height: 130px;
    overflow: auto; 
    padding: 10px;
}
.data{
    text-align: center;
    line-height: 17px;
}
.data p{
    display: inline;
    font-size: 10px;
}
.colorful-p{
    color: #f15e22;
}

@media screen and (min-width:768px) and (max-width:991px){
    .activity-title{
        font-size: 12px;
    }
}

@media screen and (max-width:767px){
    #activity-content{
        background:linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,1));
        padding: 20px 10px;
        margin-bottom: 0;
    }
}
@media screen and (max-width:480px){
    .act{
        padding: 5px;
    }
    #tip{
        font-size: 10pt;
        text-align: left;
    }
    .activity-title{
        font-size: 10px;
    }
    .end-cover{
        font-size: 10px;
        line-height: 20px;
    }
    .header_logo .col-xs-4{
        padding: 0;
    }
}
@media screen and (max-width:320px){
    .activity-title{
        margin: 8px;
    }
}