.content{
    margin-bottom: 15px;
}
/* countdown & backhome */
#countdown-row{
    margin-top: 15px;
}
.countdown-col{
    background-image: linear-gradient(to top, #bd1d1b, rgb(216, 78, 77), #bd1d1b);
    height: 40px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}
.countdown-col span{
    font-size: 24px;
    vertical-align: text-bottom;
}
.countdown-col p{
    display: inline-block;
    margin-bottom: 0;
}
.countdowntext{
    margin-right: 10px;  
}
.countdowntime{
    color: #e9ca41;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* submit-content */
#submit-content{
    margin-top: 10px;
    background-image: url(../image/submit/submitbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px 0 0 0;
}
.submit-form{
    width: 50%;
    margin: 0 auto;
    color:#9f9f9f;
    font-size: 18px;
}
.submit-form label{
    padding-right: 0;
    font-weight: 400;
    text-align: right;
}
.submit-form p{
    padding-top: 7px;
    margin: 0;
    line-height: normal;
}
#codeinput{
    padding-right: 0;
}
#codeimg{
    padding-left: 0;
}
.verifycode-group img{
    float: right;
}
#submit-btn{
    margin: 20px auto;
}
.submit-form .form-control{
    border-radius: 0;
    background: linear-gradient(to top,rgb(245,245,245) 10%,rgb(255,255,255) 80%,rgb(245,245,245));
    border-color: #e8e8e8;
}
.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow:  none; 
    box-shadow: none; 
}
@media screen and (min-width:769px) and (max-width:991px){
    .submit-form{
        width: 60%;
    }
    #codeinput{
        padding-right: 10px;
    }
}

@media screen and (max-width:768px){
    #countdown-row{
        margin-top: 10px;
    }
    .countdown-col{
        font-size: 10px;
    }
    .countdown-col span{
        font-size: 16px;
    }
    .countdowntime{
        font-size: 16px;
        letter-spacing: 1px;
    }
    .countdowntext{
        margin-right: 5px;
    }
    .backhome{
        font-size: 12px;
    } 
    .backhome-col{
        padding-right: 10px;
    }
    .content{
        padding: 10px;
    }
    .submit-form{
        width: 60%;
        font-size: 16px;
    }
    .submit-form label{
        padding: 7px;
    }
    #codeinput{
        padding-right: 15px;
        margin-bottom: 10px;
    } 
}
@media screen and (max-width:767px){
    .submit-form{
        width: 80%;
    }
}
@media screen and (max-width:480px){
    .countdowntext{
        margin-right: 0;
    }
}
@media screen and (max-width:320px){
    .countdowntext{
        font-size: 8px;
    }
    .countdowntime{
        font-size: 14px;
        letter-spacing: 0.5px;
    }
    .countdown-col{
        padding: 0;
    }
    .backhome{
        padding-left: 0;
        padding-right: 0;
    }
    .submit-form{
        width: 90%;
        font-size: 14px;
    }
}
@media screen and (min-width:481px) and (max-width:767px){
    #submit-content .col-xs-4{
        width: 25%;
    }
    #submit-content .col-xs-offset-4{
        margin-left: 25%;
    }
}